{% extends 'base.html' %}

{% block title %}我的自我评价{% endblock %}
{% load quiz_extras %}

{% block content %}
{% if quizzes %}
    <table class="table table-striped">
    <tbody>
    {% for quiz in quizzes %}
        <div id="{{ quiz.title }}">
            <tr>
                <td>
                    <p><h2>{{ quiz.title }}</h2></p>
                        <p>{{ quiz.desc }}</p>
                </td>
                {% taken_by_user quiz user as taken %}
                {% if taken %}
                <td>
                    <p><h4>你的分数</h4></p>
                    {% for result in quiz.result_set.all %}
                    <p>{{ result.name }}: {{ result.score_set|user_score:user }}</p>
                    {% endfor %}
                    <p><a href="{% url 'quiz:results' quiz.id %}" class="btn btn-primary">查看细节</a></p>
                    <p><a href="{% url 'quiz:detail' quiz.id %}" class="btn btn-info">再做问卷</a></p>
                </td>
                {% else %}
                <td>
                    <p>你还没做问卷！</p>
                    <p><a href="{% url 'quiz:detail' quiz.id %}" class="btn btn-info" role="button">做问卷</a></p>
                </td>
                {% endif %}
            </tr>
        </div>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>没有可用的问卷。</p>
{% endif %}

{% endblock %}

