{% extends 'base.html' %}

{% block title %}欢迎{% endblock %}
{% load quiz_extras %}

{% block content %}
{% if user.is_authenticated %}
  <p>欢迎 {{ user.username }}! <a href="{% url 'logout' %}" class="btn btn-link">（不是您？）</a></p>
{% endif %}
{% if quizzes %}
    <table class="table table-striped">
    <tbody>
    {% for quiz in quizzes %}
        <div id="{{ quiz.title }}">
            <tr>
                <td>
                    <p><h2>{{ quiz.title }}</h2></p>
                        <p>{{ quiz.desc }}</p>
                </td>
                {% if user.is_authenticated %}
                    {% taken_by_user quiz user as taken %}
                {% endif %}
                {% if taken %}
                <td>
                    <p><h4>你的分数</h4></p>
                    {% for result in quiz.result_set.all %}
                    <p>{{ result.name }}: {{ result.score_set|user_score:user }}</p>
                    {% endfor %}
                    <p><a href="{% url 'quiz:results' quiz.id %}" class="btn btn-primary">查看细节</a></p>
                    <p><a href="{% url 'quiz:detail' quiz.id %}" class="btn btn-info">再做问卷</a></p>
                </td>
                {% else %}
                <td>
                    <p>你还没做问卷！</p>
                    {% if user.is_authenticated %}
                        <p><a href="{% url 'quiz:detail' quiz.id %}" class="btn btn-info" role="button">做问卷</a></p>
                    {% else %}
                        <p><a href="{% url 'login' %}" class="btn btn-primary">登录</a></p>
                        <p><a href="{% url 'signup' %}" class="btn btn-secondary">注册</a></p>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        </div>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>没有可用的问卷。</p>
{% endif %}

{% endblock %}

