<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}欢迎{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  欢迎 {{ user.username }}! <a href="{% url 'logout' %}">注销</a>
  <br>
  <p><a href="{% url 'quiz:index' %}">我的自我评价</a></p>
  <div class="container">
    <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
    </div>
  </div>
{% else %}
  <p>您没有登录</p>
  <a href="{% url 'login' %}">登录</a>或者<a href="{% url 'signup' %}">注册</a>
{% endif %}
{% endblock %}